Importerer bibliotekene(panda og faker). Legger til kredtitkort til faker

In [3]:
from faker import Faker
import pandas as pd

from faker.providers.credit_card import Provider as CreditCardProvider

Lager en liste kalt "fake" der det genereres navn, adresse, personNr, kreedittkort og ipv4

In [5]:
fake = Faker(['no_NO'])

lager en tom dataframe med kolonner tilsvarende listen

In [6]:
df = pd.DataFrame(columns=['Navn','Adresse','PersonNr', 'CreditCard', 'ipv4']) # Create a empty df

lager er en for-loop hvor de ulike funksjonene blir kalt opp og lagret i en rad. denne kjøres 100 ganger for lage 100 rader.

In [7]:
for i in range(100):
    row = fake.name(),fake.address(),fake.ssn(),fake.credit_card_number(),fake.ipv4()
    df.loc[i]=row

Sjekker at tabellen ser riktig ut

In [13]:
df

,Navn,Adresse,PersonNr,CreditCard,ipv4
0,Ivar-Helge Bakke,"Holmmarka 46D, 4709 Ali",13038623839,2449669923919192,2.77.90.148
1,Anne-Marte Antonsen,"Nielsenhagen 584, 5840 Simonsen",17039830922,4135312948737746,62.148.237.102
2,Jorunn-Aud Haug,"Bergebråten 4, 2233 Hannaås",18094644751,6526695498615193,37.75.229.149
3,Marte Lunde,"Martinsenalléen 16E, 3699 Bakken",15095143056,4935146671648009922,222.49.206.205
4,Svein Lie,"Simonsenskogen 6, 1104 Solberg",26124202808,3511211009710830,139.25.208.97
...,...,...,...,...,...
95,Dr. Sondre Berntsen,"Pedersenplassen 839, 6728 Petterberg",10037630123,374771133593818,114.4.149.47
96,Asbjørn Ali,"Pettersentunet 45, 1977 Thomassen",30049632718,5245369603730634,5.229.104.215
97,Gunnar Isaksen-Hauge,"Pettersenjordet 1, 1762 Trinestrand",25077640617,4327077608325904,210.116.216.39
98,Kristoffer Aasen,"Halvorsenfaret 40, 2793 Eriksen",05057821819,630416347163,199.39.170.8
99,Arne Hagen-Ødegård,"Vikbakken 83, 2656 Rasmussen",25058301798,349257476558651,72.63.250.149

In [12]:
textArray = [] #Create a empty array
for row in range(10):
# Do a for loop, and assign values to name and adress
    row=df.iloc[i]
    name = row[0] 
    adress = row[1]
    ssn = row[2]
    cc = row[3]
    #Using f string we can now create a new string with the values, and
    #append (add) that string to the text array
    textArray.append(f'Hi, my name is {name}. I wonder if you deliver to {adress}, my visa is {cc} and my ssn is {ssn}')

C:\Users\henri\AppData\Local\Temp\ipykernel_21552\3094120814.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  name = row[0]
C:\Users\henri\AppData\Local\Temp\ipykernel_21552\3094120814.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  adress = row[1]
C:\Users\henri\AppData\Local\Temp\ipykernel_21552\3094120814.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ssn = row[2]
C:\Users\henri\AppData\Local\Temp\ipykernel_21552\3094120814.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cc = row[3]